@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.app-container {
  height: 100vh;
  font-family: "Roboto";
  background: linear-gradient(
    180deg,
    rgba(3, 26, 74, 0.8757702910265669) 0%,
    rgba(41, 96, 168, 1) 100%
  );
}

.auth-screen-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
