@import "../../assets/styles/shadows.scss";
.dashboard-container {
  //Make it 2 columns
  display: flex;
  position: relative;
  // height: auto;
  font-family: Roboto;
}

.dashboard-side {
  height: 100vh;
  box-shadow: $shadow-light;
  flex: 2;
  min-width: 22rem;
  max-width: 22rem;
  padding: 2rem;
  display: grid;
  grid-template-rows: 1fr 0.5fr 6fr auto;

  gap: 2rem;
  position: sticky;
  top: 0;
  left: 0;
  //USER NAME AND AVATAR
  &-user {
    display: grid;
    grid-template-rows: 1fr 5fr;
    justify-content: center;
    gap: 3.6rem;
    position: relative;
    //   padding-bottom: 2rem;
    &-name {
      text-align: center;
      font-size: 2rem;
    }
    &-avatar {
      border-radius: 0.5rem;
    }
  }

  //STATS

  &-stats {
    display: grid;
    align-items: center;
    align-self: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 1rem 0;
    justify-items: space-between;
    &-item {
      display: flex;
    }
    p {
      flex: 1;
    }
    span {
      justify-self: center;
    }
  }
  //NAV BUTTONS
  &-nav {
    display: grid;
    grid-template-rows: repeat(5, 3.8rem);
    gap: 2.3rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #000;
    padding-bottom: 1rem;
    //Old btn
    &-item {
      // padding: 0.8rem 1.8rem;
      // border: none;
      // background-color: #d3d3d3;
      // border-radius: 0.5rem;
      // font-size: 1.8rem;
      // // font-weight: 700;
      // color: #000;
      // transition: background-color 0.3s;
      // &:hover {
      //   cursor: pointer;
      //   color: #000;
      //   background-color: #bdbdbd;
      // }
    }
  }
}

//RIGHT SIDE OF DASHBOARD
.dashboard-content {
  flex: 8;
  padding-left: 10rem;
  margin-right: 20rem;
}

//MEDIA QUERIES

@media screen and (max-width: 1750px) {
  .run-list-wrapper {
    grid-template-columns: 1fr;
    justify-items: left;
  }
}
@media screen and (max-width: 1100px) {
  .run-item-wrapper {
    width: 80%;
    justify-self: center;
  }
  .dashboard-content:nth-child(2) {
    margin-top: 5rem;
  }
}
.menu-open {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 8rem;
  left: 4.5rem;
}
.menu-close {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0rem;
  top: 1rem;
}
@media screen and (max-width: 930px) {
  .dashboard-container {
    display: grid;
    grid-template-rows: 1fr max-content;
    position: relative;
  }
  .menu-open {
    opacity: 1;
    visibility: visible;
  }
  .menu-close {
    opacity: 1;
    visibility: visible;
  }
  .dashboard-side {
    z-index: 1000;
    position: fixed;
    height: max-content;
    grid-template-rows: 1fr 0.5fr 5fr auto;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    background-color: white;
    padding-top: 5rem;

    &-visible {
      opacity: 1;
      visibility: visible;
    }
    &-user {
      grid-template-rows: max-content 1fr;
      justify-items: center;
    }
    &-nav {
      height: max-content;
      border-bottom: none;
    }
    &-footer {
      margin-top: 2rem;
    }
  }
  .dashboard-content {
    justify-content: center;
    margin: 0;
    padding: 0;

    &-runs {
      display: grid;
      justify-content: center;
    }
    &-title {
      text-align: center;
    }
  }
  .run-list-wrapper {
    // padding-right: 5rem;
  }
  .log-list-wrapper {
    width: 80%;
    font-size: 1rem;
  }

  div[class*="dashboard-content-"] {
    display: grid;
    justify-items: center;
    margin-top: 2rem;
  }
  .dashboard-content-title {
  }
}

@media screen and (max-width: 400) {
  .run-item-detail {
    &-text {
      color: red;
      font-size: 1rem;
    }
  }
}
@media screen and (max-height: 800px) {
  .dashboard-side {
    height: 100vh;
    -webkit-backface-visibility: hidden;
    &-user {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0;
      &-avatar {
        height: 6rem;
        border-radius: 50rem;
      }
    }
  }
}
.settings-content {
  width: 80%;
}
@media screen and (max-height: 600px) {
  .dashboard-side {
    &-nav {
      gap: 1rem;
    }
  }
}
@media screen and (max-height: 600px) {
  .dashboard-side {
    &-nav {
      gap: 0rem;
    }
  }
}
@media screen and (max-height: 567px) {
  .dashboard-side {
    gap: 0.5rem;
    &-stats-item {
      align-items: center;
      font-size: 1rem;
      span {
        font-size: 1rem;
      }
    }
    &-nav {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(3, max-content);
      gap: 1rem;
    }
  }
}

.settings-content {
  width: 80%;
}
