.dashboard-profile-summary {
  align-self: flex-start;
  margin-top: 2rem;
  -webkit-box-shadow: 0px 0px 33px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 33px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 33px 5px rgba(0, 0, 0, 0.75);
}
.user-summary-wrapper {
  padding: 2rem;
  background-color: white;
  border-radius: 0.5rem;
  position: relative;
  width: 20rem;
}

.user-summary-content {
  display: inline-block;

  margin-top: 5rem;
  img {
    border-radius: 1000rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 10rem;
    -webkit-box-shadow: 0px 10px 5px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 5px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 5px -7px rgba(0, 0, 0, 0.75);
  }
  > p {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
  }
}

.user-summary-runs {
  display: grid;
  grid-template-rows: repeat(4, max-content);

  &-item:not(:last-child) {
    font-size: 1.6rem;
    display: flex;
    height: 1rem;
    padding: 2rem 0;
    width: 100%;
    border-bottom: 1px solid black;
    > p {
      flex: 5;
    }
  }
  &-item:last-child {
    border-radius: 0.5rem;

    margin-top: 2rem;
    font-size: 2rem;
    background-color: rgba(41, 96, 168, 1);
    padding: 1rem 2rem;
    color: white;
  }
}
